.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.updateForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 5px;
}